# CargoWise Microsoft SQL Server Connection
CW_DB_TEST_SERVER   = ""
CW_DB_TEST_USERNAME = ""
CW_DB_TEST_PASSWORD = ""
CW_DB_TEST_DATABASE = ""

CW_DB_PROD_SERVER   = ""
CW_DB_PROD_USERNAME = ""
CW_DB_PROD_PASSWORD = ""
CW_DB_PROD_DATABASE = ""

# CargoWise eAdaptor Connection
CW_EADAPTOR_TEST_URL      = ""
CW_EADAPTOR_TEST_USERNAME = ""
CW_EADAPTOR_TEST_PASSWORD = ""

# CargoWise MCP Connection
CW_MCP_URL   = ""
CW_MCP_TOKEN = ""
